@font-face {
    font-family: "Open Sans";
    src: url(../Fonts/OpenSans-VariableFont_wdth\,wght.ttf)
}

:root {
    --serve-blue: #0098db;
    --serve-blue-highlight: #0079ad;
}

body {
    background-color: #222;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 30px;
    display: flex;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

a {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.header-main-logo img {
    height: 30px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
    padding-right: 30px;
}

.header-main-nav ul {
    list-style: none;
}

.header-main-nav ul li {
    display: inline;
    float: left;
}

.header-main-nav ul li a {
    padding: 0 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
    transition: 0.1s ease-in-out;
}

.header-main-nav ul li a:hover {
    color: var(--serve-blue);
}